<div class="media" style="overflow: auto;" ng-repeat="value in value.next">
    <div class="media-left" ng-show="value.next.length > 0 ? true : false">
        <span class="glyphicon glyphicon-chevron-down" ng-show="spanCollapseStatus[value.span.sort]" ng-click="doCollapseActive(value.span.sort)" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-chevron-right" ng-show="spanCollapseStatus[value.span.sort] == false" ng-click="doCollapseActive(value.span.sort)" aria-hidden="true"></span>
    </div>
    <div class="media-body">
        <p class="media-heading method-Name" ng-class="{'focus-status':spanFocusStatus[value.span.sort]}" ng-click="doFocusSpan(value.span.sort)">
            {{value.span | filterMethodName}}
            <span style="color: #ff4311; margin-left: 5px;" class="glyphicon glyphicon-ok" ng-show="value.span.error > 0 ? false : true"></span>
            <span style="color: #0f0dff; margin-left: 5px;" class="glyphicon glyphicon-remove" ng-show="value.span.error > 0 ? true : flase"></span>
        </p>
        <!--嵌套-->
        <div ng-include="'template/span_tpl.html'" ng-show="spanCollapseStatus[value.span.sort]"></div>
    </div>
</div>
