<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <title>打印模块</title>
</head>
<body>
    <div class="container" ng-controller="myCtrl">
        <div class="row">
            <h2 class="text-center">结账单</h2>
            <div class="col-lg-6">
                <div class="component-box">
                    <div class="module" ng-repeat="module in modules">
                        <div class="title">
                            <h2>{{module.moduleName}} <small>{{module.moduleDescribe}}</small></h2>
                        </div>
                        <div class="section">
                            <div ng-class="{'component': true, 'switch-on': componentEnableStaus[component.id]}"
                                 data-componentId={{component.id}}
                                 data-moduleid={{module.moduleId}}
                                 ng-repeat="component in module.components"
                                 ng-click="doSwitchComponent(component.id, componentEnableStaus[component.id])">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>{{component.label}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" ng-controller="previewCtrl">
                <div class="template-container">
                    <div class="template-module-list">
                        <div class="template-module" ng-repeat="templateModule in templateModules">
                            <div class="template-row" ng-repeat="templateRow in templateModule.rows">
                                <div class="template-component" style="{{templateComponent.valueStyle}}" ng-repeat="templateComponent in templateRow.components">
                                    {{templateComponent.value}}
                                </div>
                            </div>
                            <!--模板分割线-->
                            <hr class="the-divider"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="assets/angular.js"></script>
    <script type="application/javascript" src="assets/template-web.js"></script>
    <script type="application/javascript" src="js/utils.js"></script>
    <script type="application/javascript" src="js/main.js"></script>
</body>
</html>
















