<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <title>APM应用性能管理</title>
    <style type="text/css">
        .method-Name {
            color: #3194ff;
        }
        .focus-status {
            color: #ff8826;
        }
        .string {
            color: green;
        }
        .number {
            color: darkorange;
        }
        .boolean {
            color: blue;
        }
        .null {
            color: magenta;
        }
        .key {
            color: red;
        }
    </style>
</head>
<body ng-controller="myCtrl" class="container">
    <header class="page-header">
        <h3>调用链追踪</h3>
    </header>
    <!--基本信息-->
    <section>
        <p>
            <label>请求时间：</label>{{httpEntryTrace.startTime}}
        </p>
        <p>
            <label>环境参数：</label>{{httpEntryTrace.agentId}}
        </p>
        <p>
            <label>web服务：</label>{{httpEntryTrace.applicationName}}
        </p>
        <p>
            <label>响应时间：</label>{{httpEntryTrace.spentTime}}ms
        </p>
        <p>
            <label>客户端IP：</label>{{httpEntryTrace.clientIP}}
        </p>
    </section>
    <!--trace链路-->
    <section>
        <p style="margin-top: 20px;">
            <label style="color: #ff3810; font-size: 18px;">Trace链路</label>
        </p>
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="media" style="overflow: auto;" ng-repeat="value in traceData">
                    <div class="media-left">
                        <span class="glyphicon glyphicon-chevron-down" ng-show="spanCollapseStatus[value.span.sort]" ng-click="doCollapseActive(value.span.sort)" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-chevron-right" ng-show="spanCollapseStatus[value.span.sort] == false" ng-click="doCollapseActive(value.span.sort)" aria-hidden="true"></span>
                    </div>
                    <div class="media-body">
                        <p class="media-heading method-Name" ng-class="{'focus-status':spanFocusStatus[value.span.sort]}" ng-click="doFocusSpan(value.span.sort)">
                            {{value.span | filterMethodName}}
                            <span style="color: #ff4311; margin-left: 5px;" class="glyphicon glyphicon-ok" ng-show="value.span.error > 0 ? false : true"></span>
                            <span style="color: #0f0dff; margin-left: 5px;" class="glyphicon glyphicon-remove" ng-show="value.span.error > 0 ? true : flase"></span>
                        </p>
                        <!--嵌套-->
                        <div ng-include="'template/span_tpl.html'" ng-show="spanCollapseStatus[value.span.sort]"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--span信息-->
    <section>
        <p style="color: #ff3810;">
            <label>span信息：</label>
        </p>
        <div class="panel panel-default">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#params" aria-controls="home" role="tab" data-toggle="tab">参数</a></li>
                    <li role="presentation"><a href="#tags" aria-controls="profile" role="tab" data-toggle="tab">Tag</a></li>
                    <li role="presentation"><a href="#logs" aria-controls="profile" role="tab" data-toggle="tab">Log</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="params">
                        <div class="panel-body">
                            <p>
                                <label>方法名：</label>{{spanData.method}}
                            </p>
                            <p>
                                <label>方法参数：</label>{{spanData.argument}}
                            </p>
                            <p>
                                <label>开始时间：</label>{{spanData.startTime}}
                            </p>
                            <p>
                                <label>耗时：</label>{{spanData.spentTime}}ms
                            </p>
                            <p>
                                <label>类名：</label>{{spanData.className}}
                            </p>
                            <p>
                                <label>组件：</label>{{spanData.componentName}}
                            </p>
                            <p>
                                <label>服务名：</label>{{spanData.applicationName}}
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tags">
                        <div class="panel-body">
                            <pre ng-bind-html="spanData.tag"></pre>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="logs">
                        <div class="panel-body">
                            <pre ng-bind-html="spanData.log"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
    <script type="application/javascript" src="../assets/jquery-3.3.1.js"></script>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js"></script>
    <script type="application/javascript" src="utils.js"></script>
    <script type="application/javascript">
        // 测试地址
        var url = "http://192.168.14.141/zxcity_restful/ws/rest";

        var myApp = angular.module('myApp', []);
        /*全局控制器*/
        myApp.controller('myCtrl', ['$scope', '$http', '$sce', function ($scope, $http, $sce) {
            // 查询http entry trace信息
            var param = {
                url : url,
                method: "POST",
                data: {
                    cmd: "apmTrace/httpEntryTrace",
                    data: {
                        traceId: getQueryString("traceId")
                    },
                    version: 1
                },
                sCallback: function (res) {
                    console.log("==================请求数据==================");
                    console.log("httpEntryTrace ", res.data);
                    console.log("==================请求数据==================");
                    if (res.data.code === 1) {
                        $scope.httpEntryTrace = res.data.data;
                    }
                }
            };
            baseRequestForm($http, param);
            // 查询trace链路
            param = {
                url: url,
                method: "POST",
                data: {
                    cmd: "apmTrace/traceWholeLink",
                    data: {
                        traceId: getQueryString("traceId")
                    },
                    version: 1
                },
                sCallback: function (res) {
                    console.log("=================请求数据==================");
                    console.log("traceWholeLink ", res.data);
                    console.log("=================请求数据==================");
                    if (res.data.code === 1) {
                        var traceList = res.data.data;
                        var traceData = [],
                            spanCollapseStatus = {},
                            spanFocusStatus = {};

                        for (var i = 0; i < traceList.length; i++) {
                            var item = {};
                            item.span = traceList[i];
                            if (traceList.length - i > 0) {
                                item.next = [];
                            } else {
                                item.next = null;
                                break;
                            }
                            if (i === 0) {
                                traceData.push(item);
                            } else {
                                recursiveNext(traceData, item);
                            }
                            // span折叠状态，默认展开
                            spanCollapseStatus[traceList[i].sort] = true;
                            spanFocusStatus[traceList[i].sort] = false;

                            spanDataFormat($sce, traceList[i]);
                        }
                        $scope.traceData = traceData;
                        $scope.traceList = traceList;

                        // 默认展示第一个span
                        $scope.spanData = traceList[0];
                        $scope.spanCollapseStatus = spanCollapseStatus;
                        // span焦点状态
                        $scope.spanFocusStatus = spanFocusStatus;
                    }
                }
            };
            baseRequestForm($http, param);

            // 切换折叠状态
            $scope.doCollapseActive = function (sort) {
                $scope.spanCollapseStatus[sort] = !$scope.spanCollapseStatus[sort];
            };

            // span信息面板显示的焦点span
            $scope.doFocusSpan = function (sort) {
                $scope.spanData = $scope.traceList[sort];
                for (var i in $scope.spanFocusStatus) {
                    if (sort === parseInt(i)) {
                        $scope.spanFocusStatus[i] = true;
                    } else {
                        $scope.spanFocusStatus[i] = false;
                    }
                }
            }
        }]);

        myApp.filter('filterMethodName', function () {
            return function (input, param) {
                if (input.className != null) {
                    var array = input.className.split(".");
                    return array[array.length - 1] + "." + input.method;
                } else {
                    return "";
                }
            }
        });

        /**
         * JSON格式化
         * @param $sce angular安全转义HTML
         * @param spanData 传引用
         */
        function spanDataFormat ($sce, spanData) {
            if (spanData.tag != null && spanData.tag.length > 0) {
                try {
                    spanData.tag =  $sce.trustAsHtml(syntaxHeightlight(JSON.parse(spanData.tag)));
                } catch (e) {
                    // 无法JSON解析的，保留原始内容
                    spanData.tag = $sce.trustAsHtml(spanData.tag);
                }
            }
            if (spanData.log != null && spanData.log.length > 0) {
                try {
                    spanData.log =  $sce.trustAsHtml(syntaxHeightlight(JSON.parse(spanData.log)));
                } catch (e) {
                    spanData.log = $sce.trustAsHtml(spanData.log);
                }
            }
        }

        /**
         * 递归下一个
         */
        function recursiveNext (traceData, item) {
            if (traceData[0].next.length > 0) {
                recursiveNext(traceData[0].next, item);
            } else {
                traceData[0].next.push(item);
            }
        }

        /**
         * JSON格式化显示
         */
        function syntaxHeightlight(json) {
            if (typeof json !== "string") {
                json = JSON.stringify(json, undefined, 2)
            }
            json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g,
                '>');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
    </script>
</body>
</html>
